.swiper-wrapper {
  overflow: visible !important;
}

/* fix issue */
.swiper-backface-hidden .swiper-slide {
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden; 
}

/* swiper linear loop */
.swiper.is-home .swiper-wrapper {
  transition-timing-function: linear;
}

/* stratz Accordions */

.fs_accordion-2_item.is-active-accordion .fs_accordion-2_header {
  color: white !important;
}

input[type='checkbox'] {
  display: none;
}

.checkbox-label {
  display: inline-block;
  width: 1.5rem;
  height: 1.5rem;
  border: 1px solid #ccc;
  border-radius: 0.25rem;
  position: relative;
  pointer-events: none;
}

input[type='checkbox']:checked + .checkbox-label {
  background-color: rgba(0, 0, 0, 0.05); /* Fond noir avec 5% d'opacité quand coché */
}

input[type='checkbox']:checked + .checkbox-label::after {
  content: '';
  position: absolute;
  width: 0.3125rem;
  height: 0.625rem;
  border: solid #333;
  border-width: 0 2px 2px 0;
  top: 0.25rem;
  left: 0.5rem;
  transform: rotate(45deg);
}
