.swiper-wrapper {
  overflow: visible !important;
}

/* swiper linear loop */
.swiper.is-home .swiper-wrapper {
  transition-timing-function: linear;
}

/* stratz Accordions */

.fs_accordion-2_item.is-active-accordion .fs_accordion-2_header {
  color: white !important;
}

.section_popup-stratz:visible ~ .main-wrapper {
  background-color: red !important;
  overflow: hidden;
}
